
<%= image_tag @flat.first["imageUrl"], alt: @flat.first["name"] %>
<h1><%= @flat.first["name"] %></h1>
<h2><%= @flat.first["id"] %></h2>
<p><%= @flat.first["price"] %> <%= @flat.first["priceCurrency"] %></p>
<p><%= @flat.first["lat"] %></p>
<p><%= @flat.first["lng"] %></p>
